.input {
  height: 32px;
  padding: 0 10px;
  font-size: var(--f-size-small);
  color: var(--c-text-base);
  background: var(--c-background-secondary);
  border: 1px solid var(--c-border-base);
  border-radius: var(--b-radius-base);

  &:focus,
  &:focus-visible {
    outline: none;
    border-color: var(--c-border-secondary);
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}