.layout {
  max-height: 100vh;
  height: 100vh;

  display: flex;

  color: var(--c-text-base);
  background: var(--c-background-base);

  font-family: var(--f-family-base), sans-serif;
  font-size: var(--f-size-base);
}

.layout__content {
  flex: 1;
  display: flex;
  flex-direction: column;

  overflow-y: auto;
  overflow-x: hidden;

  padding: 16px;
}