.category {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.category__content {
  margin-block: 4px;

  display: flex;
  flex-direction: column;
  gap: 4px;
}

.category__header {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  background-color: var(--c-background-secondary);
  border-radius: var(--b-radius-base);
  font-size: var(--f-size-small);
  cursor: pointer;
  user-select: none;
}

.category__empty {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  justify-content: center;
  font-size: var(--f-size-base);
  color: var(--c-text-secondary);
}