.tracker {
  display: flex;
  flex-direction: column;

  border-radius: var(--b-radius-base);
  border: 1px solid transparent;

  margin: 0 -8px;
}

.tracker__name {
  flex: 1;
}

.tracker__time {
  font-family: "JetBrains Mono", monospace;
  font-size: var(--f-size-small);
  color: var(--c-text-secondary);
}

.tracker__empty {
  width: 100%;
  height: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;

  font-size: var(--f-size-base);
  color: var(--c-text-secondary);
}

.tracker__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;

  font-size: var(--f-size-small);
  color: var(--c-text-secondary);
}

.tracker__instances {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 8px;
}

.tracker__instance {
  display: flex;
  align-items: center;
  gap: 8px;

  height: 24px;
  background: var(--c-background-secondary);
  border-radius: var(--b-radius-base);
  font-size: var(--f-size-small);
  font-family: "JetBrains Mono", monospace;

  padding: 0 8px;

  .date {
    color: var(--c-text-secondary);
  }

  .time {
    color: var(--c-text-secondary);
    margin-left: auto;
  }
}

.tracker--expanded {
  background: oklab(from var(--c-background-secondary) l a b / 50%);
}

.tracker__header {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 0 8px 0 14px;
  user-select: none;

  font-size: var(--f-size-base);

  height: 36px;
}

.tracker__content {
  padding: 0 8px 8px;
}
